@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

body {
   background-color:black;
}

button {
font-size: 50px;
margin: auto;
background-color: grey;
}

button:hover{
   background-color: red;
}

div.dice, h1 {
font-size: 50px;
font-family: 'Luckiest Guy', cursive;
color: white;

}

h3 {

   color:blue;
   font-size: 30px;
}