@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');

body {
   background-image: url("img/abstract-background-369.jpg");
}

#container {
   display: flex;
   justify-content: space-around;
}

#p2 {
   display: flex;
   flex-direction: column; 
}

button {
font-size: 50px;
margin: auto;
color: white;
background-color: black;
}

button:hover{
   background-color: red;
}

div.dice, h1 {
font-size: 20px;
font-family: 'Concert One', cursive;
color: white;

}

h6{
   color: black;
   font-size: 20px;
   font-family: 'Concert One', cursive;
}